<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{infra/include/head :: head}"></div>
</head>

<body>
	<div class="page-wrapper">
		<header class="header">
            <div class="header-middle sticky-header font2">
                <div class="container-fluid">
                    <div class="header-left">
                        <button class="mobile-menu-toggler pl-0" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <a href="/index" class="logo">
                            <img src="img/logo.png" alt="Logo" width="111" height="44">
                        </a>
                        <!--메인메뉴-->
                        <div th:replace="~{infra/include/body :: menu}"></div>
                    </div>
					<!--우측메뉴-->
                    <div th:replace="~{infra/include/body :: menuRight}"></div>
                    <br>
                </div>
            </div>
        </header><!-- End .header -->

		<main class="main">
			<div class="page-header">
				<div class="container d-flex flex-column align-items-center">
					<nav aria-label="breadcrumb" class="breadcrumb-nav">
						<div class="container">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/index">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									My Account
								</li>
							</ol>
						</div>
					</nav>

					<h1>My Account</h1>
				</div>
			</div>

			<div class="container login-container">
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<div class="row">
							<div class="col-md-6">
								<div class="heading mb-1">
									<h2 class="title">Login</h2>
								</div>

								<form id="form-login" name="form-login">
									<div>
										<label for="login-email">
											Username or email address
											<span class="required">*</span>
										</label>
										<input type="email" class="form-input form-wide" id="login-email" name="login-email" />
										<span id="login-email-valid" style="visibility: hidden;"></span>
									</div>
									
									<div>
										<label for="login-password">
											Password
											<span class="required">*</span>
										</label>
										<input type="password" class="form-input form-wide" id="login-password" name="login-password" />
										<span id="login-password-valid" style="visibility: hidden;"></span>
									</div>
									
									<div class="form-footer mb-2">
										<button type="button" class="btn btn-dark btn-md w-100" onclick="fnControllerLogin();">
											LOGIN
										</button>
									</div>
								</form>
							</div>
							<div class="col-md-6">
								<div class="heading mb-1">
									<h2 class="title">Register</h2>
								</div>

								<form id="form-register" name="form-register">
									<label for="register-email">
										Email address
										<span class="required">*</span>
									</label>
									<input type="email" class="form-input form-wide" id="register-email" required />

									<label for="register-password">
										Password
										<span class="required">*</span>
									</label>
									<input type="password" class="form-input form-wide" id="register-password"
										required />

									<div class="form-footer mb-2">
										<button type="button" class="btn btn-dark btn-md w-100 mr-0" onclick="fnControllerRegister();">
											Register
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main><!-- End .main -->

		<footer th:replace="~{infra/include/body :: footer}"></footer>
	</div><!-- End .page-wrapper -->

	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

	<!-- Plugins JS File -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>

	<!-- Main JS File -->
	<script src="assets/js/main.min.js"></script>
	
	<script>
		let formLogin    = document.querySelector("#form-login");
		let formRegister = document.querySelector("#form-register");
		
		// 로그인
		function fnControllerLogin() {
			$.ajax({
				async: true
				, cache: false
				, type: "post"
				, data: {"mbrEmail":$("#login-email").val(), "mbrPassword":$("#login-password").val()}
				, url: "/loginConfirm"
				, success: function(response) {
					if(response.rt == "success") {
						location.href = "/index";
					} else if(response.rt == "id") {
						//fnModalFormOneBtnShow("확인", "아이디가 일치하지 않습니다");
					} else if(response.rt == "password") {
						//fnModalFormOneBtnShow("확인", "비밀번호가 일치하지 않습니다");
					}
				}
				, error : function(jqXHR, textStatus, errorThrown){
					fnModalFormOneBtnShow("오류", "ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		
		// 회원등록
		function fnControllerRegister() {
			
		}
	</script>
</body>

</html>