<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--메인메뉴-->
<div th:fragment="menu">
    <nav class="main-nav">
        <ul class="menu">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="javascript:void(0)">예약하기</a></li>
            <li><a href="javascript:void(0)">뽐내기</a></li>
            <li><a href="javascript:void(0)">열린대화방</a></li>            
        </ul>
    </nav>
</div>

<!--상단 우측 메뉴-->
<div th:fragment="menuRight" class="header-right">
	<!--낚시터검색-->
    <div
        class="header-search header-search-popup header-search-category w-lg-max text-right d-none d-sm-block">
        <a href="#" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>
        <form action=" #" method="get">
            <div class="header-search-wrapper">
                <input type="search" class="form-control" name="q" id="q" placeholder="낚시터 Search..."
                    required>
                <button class="btn icon-magnifier" title="search" type="submit"></button>
            </div><!-- End .header-search-wrapper -->
        </form>
    </div><!-- End .header-search -->

	<!--로그인-->
    <!--<a href="/login" class="header-icon">
        <i class="icon-user-2"></i>
    </a>-->
    
    <div class="dropdown cart-dropdown">
        <a href="#" title="Cart" class="dropdown-toggle cart-toggle header-icon" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="icon-user-2"></i>
        </a>

        <div class="cart-overlay"></div>

        <div class="dropdown-menu mobile-cart">
            <!--<a href="#" title="Close (Esc)" class="btn-close">×</a>-->

            <div class="dropdownmenu-wrapper custom-scrollbar">
                <div class="dropdown-cart-header">My Account</div>
                <!-- End .dropdown-cart-header -->

                <div class="dropdown-cart-products">
                    <div class="product">
                        <div class="product-details">
                            <h4 class="product-title"><a href="/login">로그인</a></h4>
                        </div><!-- End .product-details -->
                        <figure class="product-image-container">
                            <a href="/login" class="product-image">
                                <img src="img/menulogin.webp" alt="login" width="80" height="80">
                            </a>
                        </figure>
                    </div><!-- End .product -->

                    <div class="product">
                        <div class="product-details">
                            <h4 class="product-title"><a href="#">회원가입</a></h4>
                        </div><!-- End .product-details -->
                        <figure class="product-image-container">
                            <a href="#" class="product-image">
                                <img src="img/menulogin.webp" alt="login" width="80" height="80">
                            </a>
                        </figure>
                    </div><!-- End .product -->
                </div><!-- End .cart-product -->
            </div><!-- End .dropdownmenu-wrapper -->
        </div><!-- End .dropdown-menu -->
    </div><!-- End .dropdown -->
</div>

<div th:fragment="mobileMenu">
	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li><a href="/index">Home</a></li>
		            <li><a href="javascript:void(0)">예약하기</a></li>
		            <li><a href="javascript:void(0)">뽐내기</a></li>
		            <li><a href="javascript:void(0)">열린대화방</a></li>                     
                </ul>

                <ul class="mobile-menu">
                    <li><a href="/login">Log In</a></li>
                </ul>
            </nav><!-- End .mobile-nav -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
</div>

<footer th:fragment="footer" class="footer bg-dark">
	<div class="container-fluid">
		<div class="footer-bottom">
			<div class="container-fluid d-sm-flex align-items-center">
				<div class="footer-left">
					<span class="footer-copyright">© One-Q. 2024. All Rights Reserved</span>
				</div>
			</div>
		</div><!-- End .footer-bottom -->
	</div><!-- End .container-fluid -->
</footer><!-- End .footer -->

</html>