<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>유체이탈(자유를 찾아서)</title>

    <meta name="keywords" content="TEAM PROJECT ONE-Q" />
    <meta name="description" content="TEAM PROJECT ONE-Q">
    <meta name="author" content="ONE-Q TEAM">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/logo.png">

    <script>
        WebFontConfig = {
            google: { families: ['Playfair+Display:200,300,400,400italic,500,600,700,700italic,800,900italic', 'Poppins:200,300,400,500,600,700,800', 'Oswald:300,600,700'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

	<!-- Main CSS File -->
	<link rel="stylesheet" href="assets/css/demo34.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
	
	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.min.css">
	
	<!-- 달력 CSS File -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
</div>

</html>