<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/images/icons/favicon.png">
    <style>
.reservation {
    margin: 0 auto;
    padding: 15px;
    max-width: 1400px; /* 기본 영역의 최대 너비를 늘림 */
    background-color: #f8f9fa; /* 배경색 */
}

@media (min-width: 768px) {
    .reservation {
        padding: 30px; /* 패딩 증가 */
    }
}

@media (min-width: 992px) {
    .reservation {
        padding: 50px; /* 패딩 추가 증가 */
    }
}

@media (min-width: 1200px) {
}
.product-default {
    align-items: stretch; /* 자식 요소의 높이를 동일하게 맞춤 */
}

.product-details {
    flex-grow: 1;
}

.product-action.right-align {
    align-self: flex-end;
}
    </style>

    <script>
        WebFontConfig = {
            google: { families: ['Playfair+Display:200,300,400,400italic,500,600,700,700italic,800,900italic', 'Poppins:200,300,400,500,600,700,800', 'Oswald:300,400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/demo34.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
</head>

<body>
	<form name="formList" id="formList" method="post" autocomplete="off">
	<!-- <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/> -->
	    <div class="page-wrapper">
	        <header class="header">
	            <div class="header-middle sticky-header font2">
	                <div class="container-fluid">
	                    <div class="header-left">
	                        <button class="mobile-menu-toggler pl-0" type="button">
	                            <i class="fas fa-bars"></i>
	                        </button>
	                        <a href="demo34.html" class="logo">
	                            <img src="" alt="Porto Logo" width="111" height="44">
	                        </a>
	                        <nav class="main-nav">
	                            <ul class="menu">
	                                <li>
	                                    <a href="demo34.html">Home</a>
	                                </li>
	                                <li class="active">
	                                    <a href="demo34-shop.html">Shop</a>
	                                    <div class="megamenu megamenu-fixed-width megamenu-3cols">
	                                        <div class="row">
	                                            <div class="col-lg-4">
	                                                <a href="#" class="nolink">VARIATION 1</a>
	                                                <ul class="submenu">
	                                                    <li><a href="category.html">Fullwidth Banner</a></li>
	                                                    <li><a href="category-banner-boxed-slider.html">Boxed Slider
	                                                            Banner</a>
	                                                    </li>
	                                                    <li><a href="category-banner-boxed-image.html">Boxed Image
	                                                            Banner</a>
	                                                    </li>
	                                                    <li><a href="category.html">Left Sidebar</a></li>
	                                                    <li><a href="category-sidebar-right.html">Right Sidebar</a></li>
	                                                    <li><a href="category-off-canvas.html">Off Canvas Filter</a></li>
	                                                    <li><a href="category-horizontal-filter1.html">Horizontal
	                                                            Filter1</a>
	                                                    </li>
	                                                    <li><a href="category-horizontal-filter2.html">Horizontal
	                                                            Filter2</a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                            <div class="col-lg-4">
	                                                <a href="#" class="nolink">VARIATION 2</a>
	                                                <ul class="submenu">
	                                                    <li><a href="category-list.html">List Types</a></li>
	                                                    <li><a href="category-infinite-scroll.html">Ajax Infinite Scroll</a>
	                                                    </li>
	                                                    <li><a href="category.html">3 Columns Products</a></li>
	                                                    <li><a href="category-4col.html">4 Columns Products</a></li>
	                                                    <li><a href="category-5col.html">5 Columns Products</a></li>
	                                                    <li><a href="category-6col.html">6 Columns Products</a></li>
	                                                    <li><a href="category-7col.html">7 Columns Products</a></li>
	                                                    <li><a href="category-8col.html">8 Columns Products</a></li>
	                                                </ul>
	                                            </div>
	                                            <div class="col-lg-4 p-0">
	                                                <div class="menu-banner">
	                                                    <figure>
	                                                        <img src="" alt="Menu banner"
	                                                            width="300" height="300">
	                                                    </figure>
	                                                    <div class="banner-content">
	                                                        <h4>
	                                                            <span class="">UP TO</span><br />
	                                                            <b class="">50%</b>
	                                                            <i>OFF</i>
	                                                        </h4>
	                                                        <a href="category.html" class="btn btn-sm btn-dark">SHOP NOW</a>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div><!-- End .megamenu -->
	                                </li>
	                                <li><a href="blog.html">Blog</a></li>
	                                <li>
	                                    <a href="#">Pages</a>
	                                    <ul>
	                                        <li><a href="wishlist.html">Wishlist</a></li>
	                                        <li><a href="cart.html">Shopping Cart</a></li>
	                                        <li><a href="checkout.html">Checkout</a></li>
	                                        <li><a href="dashboard.html">Dashboard</a></li>
	                                        <li><a href="about.html">About Us</a></li>
	                                        <li><a href="#">Blog</a>
	                                            <ul>
	                                                <li><a href="blog.html">Blog</a></li>
	                                                <li><a href="single.html">Blog Post</a></li>
	                                            </ul>
	                                        </li>
	                                        <li><a href="contact.html">Contact Us</a></li>
	                                        <li><a href="login.html">Login</a></li>
	                                        <li><a href="forgot-password.html">Forgot Password</a></li>
	                                    </ul>
	                                </li>
	                                <li><a href="#">Elements</a>
	                                    <ul class="custom-scrollbar">
	                                        <li><a href="element-accordions.html">Accordion</a></li>
	                                        <li><a href="element-alerts.html">Alerts</a></li>
	                                        <li><a href="element-animations.html">Animations</a></li>
	                                        <li><a href="element-banners.html">Banners</a></li>
	                                        <li><a href="element-buttons.html">Buttons</a></li>
	                                        <li><a href="element-call-to-action.html">Call to Action</a></li>
	                                        <li><a href="element-countdown.html">Count Down</a></li>
	                                        <li><a href="element-counters.html">Counters</a></li>
	                                        <li><a href="element-headings.html">Headings</a></li>
	                                        <li><a href="element-icons.html">Icons</a></li>
	                                        <li><a href="element-info-box.html">Info box</a></li>
	                                        <li><a href="element-posts.html">Posts</a></li>
	                                        <li><a href="element-products.html">Products</a></li>
	                                        <li><a href="element-product-categories.html">Product Categories</a></li>
	                                        <li><a href="element-tabs.html">Tabs</a></li>
	                                        <li><a href="element-testimonial.html">Testimonials</a></li>
	                                    </ul>
	                                </li>
	                                <li><a href="#" target="blank" class="nolink">Buy Porto!</a></li>
	                            </ul>
	                        </nav>
	                    </div>
	
	                    
	                </div>
	            </div>
	        </header><!-- End .header -->
	
	        <main class="main">
	            <!-- 낚시 좌대 리스트 -->
	            <div class="reservation">
	                <nav aria-label="breadcrumb" class="breadcrumb-nav">
	                    <ol class="breadcrumb">
	                        <li class="breadcrumb-item"><a href="demo34.html"><i class="icon-home"></i></a></li>
	                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
	                    </ol>
	                </nav>
	                <div class="row">
	                    <div class="col-lg-12 main-content">
	                        <nav class="toolbox sticky-header" data-sticky-options="{'mobile': true}">
	                            <div class="toolbox-left">
	                                <div class="toolbox-item toolbox-sort">
	                                    <label>낚시 종류 선택:</label>
	                                    <div class="select-custom">
	                                        <select name="orderby" class="form-control">
	                                            <option value="menu_order">좌대낚시</option>
	                                            <option value="popularity">배낚시</option>
	                                        </select>
	                                    </div>
	                                </div><!-- End .toolbox-item -->
	                            </div><!-- End .toolbox-left -->
	                            <!-- 페이징 -->
	                            <div class="toolbox-right">
	                                <div class="toolbox-item toolbox-show">
	                                    <div class="select-custom">
	                                        <select name="count" class="form-control">
	                                            <option value="9">9</option>
	                                            <option value="18">18</option>
	                                            <option value="36">36</option>
	                                        </select>
	                                    </div>
	                                </div>
	                            </div>
	                        </nav>
	                        <div class="row pb-4">
	                            <div class="col-sm-12 col-6 product-default left-details product-list mb-2" th:each= "list : ${list}">
	                                <!-- 메인 이미지 -->
	                                <figure>
	                                    <a th:href="@{/seat(plcSeq=${list.plcSeq})}">
	                                        <img src="" width="250" height="250" alt="product" />
	                                    </a>
	                                </figure>
	                                <div class="product-details" >
	                                    <!-- 예약카테고리표기(좌대낚시, 배낚시) -->
	                                    <div class="category-list">
	                                        <a class="product-category" th:text="${@codeService.selectOneCachedCode(list.plcTypeCd)}+'낚시'"></a>
	                                    </div>
	                                    <!-- 제품명 -->
	                                    <h3 class="product-title" th:text="${list.plcName}"> <a href="product.html"></a> </h3>
	                                    <!-- 별점 수정 및 삭제예정 -->
	                                    <!-- <div class="ratings-container">
	                                        <div class="product-ratings">
	                                            <span class="ratings" style="width:100%"></span>
	                                            End .ratings
	                                            <span class="tooltiptext tooltip-top"></span>
	                                        </div>
	                                        End .product-ratings
	                                    </div> -->
	                                    <!-- End .product-container -->
	                                    <!-- 예약 설명 -->
	                                    <p th:text="'운영시간 : '+ ${list.plcOperatingFrom} + '시' + ' ~ ' + ${list.plcOperatingTo} + '시'"></p>
	                                    <p th:text="'제공시설 및 물품 : ' + ${list.plcNote}"></p>
	                                    <!-- 금액 -->
	                                    <div class="price-box">
	                                        <span class="product-price" th:text="${#numbers.formatInteger(list.plcAmount,1,'COMMA')} + '원'"></span>
	                                    </div>
	                                    <!-- End .price-box -->
	                                </div>
									<button class="btn btn-dark"><a th:href="@{/seat(plcSeq=${list.plcSeq})}">예약하기</a></button>
	                                <!-- End .product-details -->
	                            </div>
	                        </div>
	                        <nav class="toolbox toolbox-pagination">
	                            <div class="toolbox-item toolbox-show"><!-- 공백 --></div>
	                            <!-- 페이징 -->
	                            <ul class="pagination toolbox-item">
	                                <li class="page-item disabled">
	                                    <a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>
	                                </li>
	                                <li class="page-item active">
	                                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
	                                </li>
	                                <li class="page-item"><a class="page-link" href="#">2</a></li>
	                                <li class="page-item"><a class="page-link" href="#">3</a></li>
	                                <li class="page-item"><span class="page-link">...</span></li>
	                                <li class="page-item">
	                                    <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
	                                </li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </main>
	    </div><!-- End .page-wrapper -->
	</form>
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.min.js"></script>
</body>

</html>